body {
    font-family: "微软雅黑";
    background-color: #222;
    color: white;
    margin: 0; /* 去除默认外边距 */
}
h1 {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 2em;
}

.play-button {
    position: absolute;
    top: 87vh;
    left: 4.5%; /* 调整按钮位置 */
    width: 50px;
    height: 50px;
    background-color: rgb(37, 47, 50); /* 修改按钮颜色 */
    border-radius: 50%;
    cursor: pointer;
    transform: scale(0.5);
    transition: background-color 0.3s; /* 添加过渡效果 */
    z-index: 10;
}
.play-button.clicked {
    transform: scale(0.6);
    background-color: #2b2b2b; /* 修改点击后的颜色 */
}
        /* 示例音乐列表的样式 */
        .music-list {
            position: absolute;
            top: 20vh;
            left: 10%;
            font-family: "微软雅黑";
            color: rgb(255, 255, 255);
        }

        .music-list-item {
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 18px;
        }

        .music-list-item:hover {
            color: rgb(103, 202, 235); /* 悬停时改变颜色 */
            text-decoration: underline; /* 添加下划线 */
        }

.play-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid white;
}
.music-player {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    height: 50px;
    opacity: 0.5;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}
.play-control {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 0px;
    height: 30px;
    background-color: rgb(76, 75, 175);
    border-radius: 50%;
    cursor: pointer;
}

        /* 进度条样式 */
        .progress-slider {
            position: absolute;
            top: 50%;
            left: 40px;
            width: 60%;
            transform: translate(0, -50%);
        }

.duration {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    color: white;
}